.cartProduct__right > h3 {
  font-weight: 600;
  color: gray;
}

.cartProduct__quantity {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.cartProduct__removeQuantity,
.cartProduct__removeQuantity.cartProduct__quantityEnabled,
.cartProduct__addQuantity {
  border: 1px solid rgb(233, 103, 43);
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(233, 103, 43);
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cartProduct__removeQuantity.cartProduct__quantityEnabled:hover,
.cartProduct__addQuantity:hover {
  background-color: #fff;
  color: rgb(233, 103, 43);
}

.cartProduct__removeQuantity.cartProduct__quantityDisabled {
  background-color: gray;
  border: 1px solid gray;
  cursor: not-allowed;
  /* border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.cartProduct__quantity > p {
  font-size: 20px;
  font-weight: 600;
}

.cartProduct img {
  object-fit: contain;
  cursor: pointer;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  display: block;
  margin-right: 10px;
}

.cartProduct img:hover {
  transform: scale(0.99);
  overflow: hidden;
}

.cartProduct__right > .MuiSvgIcon-root:hover {
  cursor: pointer;
  color: rgb(233, 103, 43);
}
