.subtotal {
  /* background-color: red; */
}

.subtotal > h2 {
  margin-bottom: 1.5rem;
  position: relative;
}

.subtotal > h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.75rem;
  background-color: rgb(221, 221, 221);
  height: 2px;
  width: 100%;
}

.subtotal__button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  background-color: rgb(238, 128, 25);
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.subtotal__button:hover {
  /* margin-top: 5px; */
  outline: 2px solid rgb(238, 128, 25);
  background-color: #fff;
  color: rgb(238, 128, 25);
}
